* {
    margin: 0 0;
    padding: 0 0;
}

.intro {
    text-align: center;
    color: #D34371;
}


.box {
    height: 100px;
    width: 358px;
    background-color: #0F0E16;
    margin: 32px;
    float: left;
}


ul li {
    list-style: none;
}


ul li .nome, .prof {
    color: #FFFFFE;
}


 ul li .mail {
    color: #5EC8ED;
 }

 .foto {
    height: 100px;
    width: 100px;
    background-color: aliceblue;
    float: left;
 }

.f-a {
    background-image: url("img/male1.png");
    height: 100px;
    width: 100px;
    background-size: cover;
}
.f-b {
    background-image: url("img/female1.png");
    height: 100px;
    width: 100px;
    background-size: cover;
}
.f-c {
    background-image: url("img/male2.png");
    height: 100px;
    width: 100px;
    background-size: cover;
}
.f-a {
    background-image: url("img/male1.png");
    height: 100px;
    width: 100px;
    background-size: cover;
}
.f-d {
    background-image: url("img/female2.png");
    height: 100px;
    width: 100px;
    background-size: cover;
}
.f-e {
    background-image: url("img/male3.png");
    height: 100px;
    width: 100px;
    background-size: cover;
}
.f-f {
    background-image: url("img/female3.png");
    height: 100px;
    width: 100px;
    background-size: cover;
}
